<section class="col-lg-10 mx-auto my-5">
  <div class="page-header">
    <h1 id="colors">Theme Colors</h1>
  </div>
  <div class="row g-3 mb-5 justify-content-center">
    <div class="col-6 col-md-3 text-center">
      <div class="p-3 rounded bg-primary text-white">Primary<br><small>.bg-primary</small></div>
    </div>
    <div class="col-6 col-md-3 text-center">
      <div class="p-3 rounded bg-secondary text-white">Secondary<br><small>.bg-secondary</small></div>
    </div>
    <div class="col-6 col-md-3 text-center">
      <div class="p-3 rounded bg-success text-white">Success<br><small>.bg-success</small></div>
    </div>
    <div class="col-6 col-md-3 text-center">
      <div class="p-3 rounded bg-info text-dark">Info<br><small>.bg-info</small></div>
    </div>
    <div class="col-6 col-md-3 text-center">
      <div class="p-3 rounded bg-warning text-dark">Warning<br><small>.bg-warning</small></div>
    </div>
    <div class="col-6 col-md-3 text-center">
      <div class="p-3 rounded bg-danger text-white">Danger<br><small>.bg-danger</small></div>
    </div>
    <div class="col-6 col-md-3 text-center">
      <div class="p-3 rounded bg-light text-dark border">Light<br><small>.bg-light</small></div>
    </div>
    <div class="col-6 col-md-3 text-center">
      <div class="p-3 rounded bg-dark text-white">Dark<br><small>.bg-dark</small></div>
    </div>
  </div>

  <div class="page-header mt-5">
    <h2>Mono Scale</h2>
  </div>
  <div class="row g-3 mb-5 justify-content-center">
    <div class="col-6 col-md-3 text-center">
      <div class="p-3 rounded bg-mono-100 text-white">Mono<br><small>.mono-100</small></div>
    </div>
    <div class="col-6 col-md-3 text-center">
      <div class="p-3 rounded bg-mono-200 text-white">Mono<br><small>.mono-200</small></div>
    </div>
    <div class="col-6 col-md-3 text-center">
      <div class="p-3 rounded bg-mono-300 text-white">Mono<br><small>.mono-300</small></div>
    </div>
    <div class="col-6 col-md-3 text-center">
      <div class="p-3 rounded bg-mono-400 text-white">Mono<br><small>.mono-400</small></div>
    </div>
    <div class="col-6 col-md-3 text-center">
      <div class="p-3 rounded bg-mono-500 text-white">Mono<br><small>.mono-500</small></div>
    </div>
    <div class="col-6 col-md-3 text-center">
      <div class="p-3 rounded bg-mono-600 text-dark">Mono<br><small>.mono-600</small></div>
    </div>
    <div class="col-6 col-md-3 text-center">
      <div class="p-3 rounded bg-mono-700 text-dark">Mono<br><small>.mono-700</small></div>
    </div>
    <div class="col-6 col-md-3 text-center">
      <div class="p-3 rounded bg-mono-800 text-dark">Mono<br><small>.mono-800</small></div>
    </div>
    <div class="col-6 col-md-3 text-center">
      <div class="p-3 rounded bg-mono-900 text-dark">Mono<br><small>.mono-900</small></div>
    </div>
  </div>


</section>
