<!-- Mojo Header -->
<header>
  <div class="row">
    <div class="col-12">
      <div class="navbar navbar-expand-md navbar-dark bg-dark z-max mb-0 mt-3 py-1">
        <div class="container-fluid">
          <a class="navbar-brand" href="/" aria-label="Home">
            <img class="oversized-logo" src="./imgs/hui-logo.svg" alt="main logo" />
          </a>
          <button class="navbar-toggler" aria-label="Toggle navigation"><span
              class="navbar-toggler-icon"></span></button>
          <div class="collapse navbar-collapse">
            <ul class="navbar-nav ml-auto mb-none mt-none pt-none pb-none">
              <li class="nav-item">
                <a class="nav-link fill-white" href="/index.html" aria-label="Home">
                  <box-icon name="rocket" class="bx mr"></box-icon> Rocket
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link fill-white mr-1" href="/index.html" aria-label="Home">
                  <box-icon name="rocket" class="bx mr"></box-icon> Index
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
<div class="container my-5 py-3">
  <div class="d-flex flex-column flex-md-row align-items-center justify-content-between">
    <div>
      <h1 class="display-5 fw-bold mb-1">HUI Test & Demo Page</h1>
      <p class="lead mb-0">
        This page is for testing, previewing, and developing various <strong>@huement/ui 'mojo'</strong> components, utilities, and themes.
      </p>
      <p>
        It is currently in a pretty rough / minimal condition. In the future it will be expanded and improved. Currently if you want to customize it, its very simple. 
      </p>
      <pre class="bg-dark text-info"><code> $ npm install</code></pre>
      <pre class="bg-dark text-info"><code> $ npm run build</code></pre>
    </div>
    <div class="mt-3 mt-md-0">
      <img src="./imgs/mojo_logo_color.png" class="img-fluid mx-auto banner-img" alt="preview image" />
    </div>
</div>