<section class="col-lg-10 mx-auto my-5">
  <div class="typography-section font-jost" aria-labelledby="typography-jost-heading">
    <div class="font-label" id="typography-jost-heading">Typography: Jost</div>
    <div class="heading-demo" aria-label="Headings demo">
      <h1>Heading 1 (H1)</h1>
      <h2>Heading 2 (H2)</h2>
      <h3>Heading 3 (H3)</h3>
      <h4>Heading 4 (H4)</h4>
      <h5>Heading 5 (H5)</h5>
      <h6>Heading 6 (H6)</h6>
    </div>
    <div class="lead" aria-label="Lead paragraph">This is a lead paragraph. It stands out from regular paragraphs and is often used to introduce sections.</div>
    <p aria-label="Normal paragraph">This is a normal paragraph. The quick brown fox jumps over the lazy dog. 0123456789</p>
    <div class="weight-demo" aria-label="Font weight demo">
      <span style="font-weight: 400;">Normal weight (400)</span>
      <span style="font-weight: 700;">Bold weight (700)</span>
    </div>
    <div class="color-demo" aria-label="Text color demo">
      <span class="text-primary">text-primary</span>
      <span class="text-secondary">text-secondary</span>
      <span class="text-success">text-success</span>
      <span class="text-danger">text-danger</span>
      <span class="text-warning">text-warning</span>
      <span class="text-info">text-info</span>
      <span class="text-light bg-dark">text-light</span>
      <span class="text-dark">text-dark</span>
      <span class="text-muted">text-muted</span>
    </div>
    <div class="typography-alphabet" aria-label="Alphabet preview">
      A B C D E F G H I J K L M N O P Q R S T U V W X Y Z<br>
      a b c d e f g h i j k l m n o p q r s t u v w x y z<br>
      0 1 2 3 4 5 6 7 8 9 ! @ # $ % ^ &amp; * ( ) _ + - = [ ] { } ; : ' " , . &lt; &gt; / ? | \
    </div>
  </div>
  <div class="typography-section font-jura small-preview" aria-labelledby="typography-jura-heading">
    <div class="font-label" id="typography-jura-heading">Typography: Jura (Alphabet Only)</div>
    <div class="typography-alphabet" aria-label="Alphabet preview">
      A B C D E F G H I J K L M N O P Q R S T U V W X Y Z<br>
      a b c d e f g h i j k l m n o p q r s t u v w x y z<br>
      0 1 2 3 4 5 6 7 8 9 ! @ # $ % ^ &amp; * ( ) _ + - = [ ] { } ; : ' " , . &lt; &gt; / ? | \
    </div>
  </div>
</section>
